{% extends 'devBlag/base.html' %}


{% block headerInsert %}

	<title>DevBlag - Home</title>

	<style>
		.linkWrapper
		{
			width: 800px;
			height: 200px;

		}

		.circleLink
		{
			margin: 0 0 0 0px;
			width: 160px;
			height: 160px;
			border-radius: 80px;
			-webkit-border-radius: 80px;
			-moz-border-radius: 80px;
			/*background: url("treeSq2.png") no-repeat;*/
			border: solid black 1px;
			cursor: pointer;
			opacity: 0.7;
		}
		.circleLink:hover
		{
			opacity: 1;
		}

		.circleBlock
		{
			display: inline-block;
			margin-top: 19px;
			margin-bottom: 19px;
			float: left;			
		}

		.circles4
		{
			/* width = (400/num circles) - 80 - 1 */
			margin-left: 19px;
			margin-right: 19px;
		}

		.circles3
		{
			margin-left: 52px;
			margin-right: 52px;
		}

		.circles2
		{
			margin-left: 119px;
			margin-right: 119px; 
		}

		.circles1
		{
			margin-left: 318px;
			margin-right: 318px;
		}
		
	</style>


	<script>
		$(function(){

			//Tooltips for projects
			//
			$(".projLink").tooltip({
				content: function(){
					//collect info
					var title = $(this).attr("title");
					var inProgress = $(this).attr("inProgress");
					var engine = $(this).attr("engine");
					var language = $(this).attr("language");
					//Convert inProgress boolean to text inDev
					if (inProgress == "True") {
						var inDev = "In Progress";
					} else {
						var inDev = "Completed";
					}
					/*
					var output = 	"<p>"+title+"</p>"+
									"<p>"+inDev+"</p>"+
									"<p>E: "+engine+"</p>"+
									"<p>L: "+language+"</p>";
					*/
					var output = 	title+"<br>"+
									inDev+"<br>"+
									(engine == "" ? "" : "E: "+engine+"<br>")+
									(language == "" ? "" : "L: "+language+"<br>");
					return output;
				}
			});

			//Tooltips for developers
			//
			$(".devLink").tooltip({
				content: function(){
					//collect info
					var name = $(this).attr("name");
					var output = name;
					return output;
				}
			});

		})
	</script>
{% endblock %}


{% block container %}
	<br>
	<br>
	<p class="headerText">Projects</p>
	<br>
	{% for quadProj in projects %}
		<div class="linkWrapper">
			{% for proj in quadProj %}
			
				<div class="circleBlock circles{{quadProj|length}}">
					<a href="/project/{{ proj.id }}/">
						<div title="{{proj.title}}" inProgress="{{proj.inProgress}}" language="{{proj.language}}" engine="{{proj.engine}}"
						class="circleLink projLink" style="background: url('{{ proj.image.getServingURLPath }}') no-repeat;"></div>
					</a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
	<br><br><br>
	<p class="headerText">Developers</p>
	<!--<table>-->
		{% for quadDevs in developers %}
		<!--<tr>-->
			{% for dev in quadDevs %}
				<div class="circleBlock circles{{quadDevs|length}}">
					<a href="/developer/{{dev.user.id}}/">
						<div title="{{dev.user.username}}" name="{{dev.getName}}" displayName="{{dev.displayName}}"
						class="circleLink devLink" style="background: url('{{ dev.thumbnail.getServingURLPath }}') no-repeat;"> </div>
					</a>
				</div>
			{% endfor %}
		<!--</tr>-->
		{% endfor %}
	<!--</table>-->
{% endblock %}
