{% extends 'devBlag/base.html' %}

{% load staticfiles %}

{% block headerInsert %}

	<script type="text/javascript" src="{% static 'devBlag/js/jscolor/jscolor.js' %}"></script>

	<title>DevBlag - Add Post</title>

	<style>
		.addForm
		{
			padding-top: 10px;
			padding-bottom: 10px;
			border: solid black 1px;
			text-align: center;
			border-radius: 10px;
			background-color: #9a0000;
		}

		.resourceBox
		{
			padding-top: 10px;
			padding-bottom: 10px;
			border: solid black 1px;
			text-align: center;
			border-radius: 10px;
			background-color: #ccc;
			position: relative;
		}

		.resourceList
		{
			/*width: 80%;*/
			background-color: #fff;
			min-height: 200px;
			border-left: solid black 1px;
			border-right: solid black 1px;
			border-bottom: solid black 1px;
		}

		.resourceListOuter
		{
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}

		#{{form.body.id_for_label}}
		{
			width: 500px;
			resize: vertical;
		}

		

		.resourceTable
		{
			width:100%;
		}

		tr.resourceTr
		{
			cursor: pointer;
			background-color: #eee;
		}

		td.resourceTdCaption
		{
			text-align: center;
			width:70%;
		}
		td.resourceTdOwner
		{
			text-align: center;
			width:70%;
		}
		

/*
		.resTab
		{
			/*float:left;/
			width: 30%;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background-color: #fff;
			border-left: solid black 1px;
			border-right: solid black 1px;
			border-top: solid black 1px;

		}
*/

		.resTab
		{
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-top: solid black 1px;
			border-left: solid black 1px;
			border-right: solid black 1px;
			/* this is 1/3 of the parent width, minus 2px for the border */
			width: 33%; 
			text-align: center;
			float: left;
			cursor: pointer;
			margin-left: auto;
			margin-right: auto;
		}

		.t1 {background-color: #fff}
		.t1:hover {background-color: #eee}

		.t2 {background-color: #ddd}
		.t2:hover {background-color: #ccc}

		.t3 {background-color: #bbb}
		.t3:hover {background-color: #aaa}

		.tabContainer{
			overflow: auto;
		}


	</style>

	<script>
	$(function(){

		//Preset colour input to colour value
		/*
		var preCol = $(".addForm").css("background-color");
		console.log(rgbToHex(preCol));
		$(".color").val(rgbToHex(preCol));

		//used to convert the rgb colour value to Hex
		// from http://stackoverflow.com/questions/5623838/rgb-to-hex-and-hex-to-rgb
		function componentToHex(c) {
		    var hex = c.toString(16);
		    return hex.length == 1 ? "0" + hex : hex;
		}
		function rgbToHex(rgbStr) { //takes "rgb(r, g, b)" gets values as str with regext, then casts to int with call to componentToHex
			var rgb = rgbStr.replace(/[^\d,]/g, '').split(',');
		    return componentToHex(parseInt(rgb[0])) + componentToHex(parseInt(rgb[1])) + componentToHex(parseInt(rgb[2]));
		}
		*/

		//The update button sets the background of the form to the entered colour
		$("#updateCol").click(updateColour);
		
		function updateColour(){
			var colour = $(".color").val();
			console.log(colour);
			//event.preventDefault();
			$(".addForm").css("background-color", "#" + colour);
			return false;
		}

		function typeInTextarea(el, newText) {
			var start = el.prop("selectionStart")
			var end = el.prop("selectionEnd")
			var text = el.val()
			var before = text.substring(0, start)
			var after  = text.substring(end, text.length)
			el.val(before + newText + after)
			el[0].selectionStart = el[0].selectionEnd = start + newText.length
			el.focus()
			return false
		}

		function updateInsertClick(){
			$(".resourceTr").on("click", function() {
				var resID = $(this).attr("resID");
				var resType = $(this).attr("resType");
				var resChar;
				if (resType == "image"){resChar = "i";}
				else if (resType == "code") {resChar = "c";}
				else { resChar = "d"; }
				typeInTextarea($("#{{form.body.id_for_label}}"), "<<"+resChar+":"+resID+">>");
				return false
			})
		};

		function updateResTooltips(){
			console.log("updateResTooltips");
			$(".resourceTr").tooltip({
				content: function(){
					var resType = $(this).attr("resType")
					if (resType == "image")
					{
						var imgStr =  "<img src='" + $(this).attr("url") + "'>";
						console.log(imgStr);
						return imgStr;
					} else if (resType == "code"){
						return $(this).attr("code");
					} else {
						return "Download Link"
					}
				}
			});
		};



		$("input[name=fileType]").change(updateFieldDisplay);

		function updateFieldDisplay()
		{
		}

		function updateResGrid(resType){
			$("#resTableBody").empty()
							  .append("<tr><td style='text-align: center;'><i class='fa fa-cog fa-spin'></i></td></tr>")
			$.get(
				"/getResources/",
				{"resourceType": resType, "public": "false"},
				function(data, textStatus, jqXHR){
					console.log("Success! textStatus: " + textStatus);
					console.log(data)
					var resTable = $("#resTableBody");
					resTable.empty()
					var getTr
					if (data.RESOURCE_TYPE == "image") {
						getTr = getImageTr;
					} else if (data.RESOURCE_TYPE == "code") {
						getTr = getCodeTr;
					} else {
						getTr = getDownloadTr;
					}
					if (data.RESOURCES.length>0) {
						for (iResource in data.RESOURCES){
							var resource = data.RESOURCES[iResource];
							var appendLine = getTr(resource)
							console.log(appendLine);
							resTable.append(appendLine);
						}
					} else {
						resTable.append("<tr><td style='text-align: center;'>No Resources Found for this type</td></tr>")
					}
					updateInsertClick();
					updateResTooltips();
				},
				"json"
			);
		}
		function getImageTr(resource){
			return '<tr class="resourceTr" title="" resType="image" resID="' + resource.id + '" url="' +
										 resource.imageFile_url.replace("localhost", "192.168.0.6") + '"><td class="resourceTdCaption">'
										 + resource.caption + '</td><td class="resourceTdOwner">' + resource.owner + '</td></tr>';
		}
		function getCodeTr(resource){
			return '<tr class="resourceTr" title="" resType="code" resID="' + resource.id + '" code="'
			+ resource.code + '"><td class="resourceTdCaption">' + resource.caption + '</td><td class="resourceTdOwner">' + resource.owner +'</td></tr>';
		}
		function getDownloadTr(resource){
			return '<tr class="resourceTr" title="" resType="download" resID="' + resource.id + '"><td class="resourceTdCaption">'
										+ resource.caption+ '</td><td class="resourceTdOwner">' + resource.owner + '</td></tr>';
		}
		$("#imageButton").click(function(){
			updateResGrid("image");
			$(".resourceList").css("background-color", "#fff");
			//$("#resTableBody").append("<tr><td style='text-align: center;'><i class='fa fa-cog fa-spin'></i></td></tr>")
		})
		$("#codeButton").click(function(){
			updateResGrid("code");
			$(".resourceList").css("background-color", "#ddd");
			//$("#resTableBody")
		})
		$("#downloadButton").click(function(){
			updateResGrid("download");
			$(".resourceList").css("background-color", "#bbb");
			//$("#resTableBody").append("<tr><td style='text-align: center;'><i class='fa fa-cog fa-spin'></i></td></tr>")
		})


		updateColour();
		updateResGrid("image");
		updateInsertClick();
	})
	</script>

{% endblock %}


{% block container %}

	<br><br>
	<div class="addForm">
		<form action="/addPost/{{projectID}}/{{postID}}/" method="post">{% csrf_token %}
			<p>
	    		<label for="{{ form.title.id_for_label }}">Title:</label>
	    		{{ form.title }}
	    		{{ form.title.errors }}
	    	</p>
	    	<br>
	    	<p><u><label for="{{ form.body.id_for_label }}">Body</label></u></p>
	    	<p>{{ form.body.errors }}</p>
	    	<p>{{ form.body }}</p>
	    	<p>
	    		<label for="{{ form.backgroundColour.id_for_label }}">Background:</label>
	    		{{ form.backgroundColour }}
	    		<button id="updateCol">Update</button>
	    	</p>
	    	<p>{{ form.backgroundColour.errors }}</p>
	    	<p>
	    		<label for="{{ form.postTags.id_for_label }}">Tags (space separate):</label>
	    		{{ form.postTags }}
	    		{{ form.postTags.errors }}
	    	</p>

	    	<input type="submit" value="Submit" onchange="updateColour()"/>
	   	</form>
	</div>
	<br>
	<div class="resourceBox">
		<div id="currentResources">
			<h2>Resources</h2>
			
			<p>
				<input type="radio" name="resourceOwner" value="mine" checked="checked">Mine 
				<input type="radio" name="resourceOwner" value="public">Public
			</p>
			<!--<p><button id="imageButton">image</button><button id="codeButton">code</button><button id="downloadButton">download</button></p>-->
			
			<div class="resourceListOuter">
				<div class="tabContainer">
					<div class="resTab t1" id="imageButton">Image</div>
					<div class="resTab t2" id="codeButton">Code</div>
					<div class="resTab t3" id="downloadButton">Download</div>
				</div>
				<div class="resourceList">
					<table class="resourceTable">
						<tbody id="resTableBody">
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="addResource" style="">
			{% include "devBlag/addResource.html" %}
		</div>
		<br>
	</div>
	<br><br>

{% endblock %}