{% extends 'devBlag/base.html' %}

{% load staticfiles %}

{% block headerInsert %}
	<script type="text/javascript" src="{% static 'devBlag/js/jscolor/jscolor.js' %}"></script>
	<style>
		.addForm
		{
			padding-top: 10px;
			padding-bottom: 10px;
			border: solid black 1px;
			text-align: center;
			border-radius: 10px;
			background-color: #9a0000;
		}

		.resourceBox
		{
			padding-top: 10px;
			padding-bottom: 10px;
			border: solid black 1px;
			text-align: center;
			border-radius: 10px;
			background-color: #ccc;
		}

		.resourceList
		{
			width: 80%;
			background-color: #fff;
			min-height: 200px;
			margin-left: auto;
			margin-right: auto;
		}

		#{{form.body.id_for_label}}
		{
			width: 500px;
			resize: vertical;
		}

		

		.resourceTable
		{
			width:100%;
		}

		tr.resourceTr
		{
			cursor: pointer;
			background-color: #eee;
		}

		td.resourceTd
		{
			text-align: center;
		}
	</style>

	<script>
	$(function(){

		//Preset colour input to colour value
		var preCol = $(".addForm").css("background-color");
		console.log(rgbToHex(preCol));
		$(".color").val(rgbToHex(preCol));

		//used to convert the rgb colour value to Hex
		// from http://stackoverflow.com/questions/5623838/rgb-to-hex-and-hex-to-rgb
		function componentToHex(c) {
		    var hex = c.toString(16);
		    return hex.length == 1 ? "0" + hex : hex;
		}
		function rgbToHex(rgbStr) { //takes "rgb(r, g, b)" gets values as str with regext, then casts to int with call to componentToHex
			var rgb = rgbStr.replace(/[^\d,]/g, '').split(',');
		    return /*"#" + */componentToHex(parseInt(rgb[0])) + componentToHex(parseInt(rgb[1])) + componentToHex(parseInt(rgb[2]));
		}

		//The updaste button sets the background of the form to the entered colour
		$("#updateCol").click(function(event){
			var colour = $(".color").val();
			console.log(colour);
			//event.preventDefault();
			$(".addForm").css("background-color", "#" + colour);
			return false;
		});


		function typeInTextarea(el, newText) {
			var start = el.prop("selectionStart")
			var end = el.prop("selectionEnd")
			var text = el.val()
			var before = text.substring(0, start)
			var after  = text.substring(end, text.length)
			el.val(before + newText + after)
			el[0].selectionStart = el[0].selectionEnd = start + newText.length
			el.focus()
			return false
		}


		$(".resourceTr").on("click", function() {
			typeInTextarea($("#{{form.body.id_for_label}}"), "<<id:"+$(this).attr("resID")+">>")
			return false
		})



		$("input[name=fileType]").change(updateFieldDisplay);

		function updateFieldDisplay()
		{


	})
	</script>

{% endblock %}


{% block container %}

	<br><br>
	<div class="addForm">
		<form action="/addPost/" method="post">{% csrf_token %}
			<p>
	    		<label for="{{ form.title.id_for_label }}">Title:</label>
	    		{{ form.title }}
	    		{{ form.title.errors }}
	    	</p>
	    	<br>
	    	<p><u><label for="{{ form.body.id_for_label }}">Body</label></u></p>
	    	<p>{{ form.body.errors }}</p>
	    	<p>{{ form.body }}</p>
	    	<br>{{ form.body.id }}
	    	<p>
	    		<label for="{{ form.backgroundColour.id_for_label }}">Background:</label>
	    		{{ form.backgroundColour }}
	    		<button id="updateCol">Update</button>
	    	</p>
	    	<p>{{ form.backgroundColour.errors }}</p>

	    	<input type="submit" value="Submit" onchange="updateColour()"/>
	   	</form>
	</div>
	<br>
	<div class="resourceBox">
		<h2>Resources</h2>
		<p>
			<input type="radio" name="resourceOwner" value="mine" checked="checked">Mine 
			<input type="radio" name="resourceOwner" value="public">Public
		</p>
		<button>Mine</button><button>All</button>

		<div class="resourceList">
			<table class="resourceTable">
				<tr>
					<th>ID</th>
					<th>caption</th>
					<th>type</th>
				</tr>
				{% for res in resource_image.mine %}
				<span id="ResI_Rows">
				<tr resID="{{res.resID}}" class="resourceTr">
					<td class="resourceTd">{{res.resID}}</td>
					<td class="resourceTd">{{res.caption}}</td>
					<td class="resourceTd">{{res.contentType}}</td>
				<tr>
				</span>
				{% endfor %}
				{% for res in resource_code.mine %}
				<span id="ResI_Rows">
				<tr resID="{{res.resID}}" class="resourceTr">
					<td class="resourceTd">{{res.resID}}</td>
					<td class="resourceTd">{{res.caption}}</td>
					<td class="resourceTd">{{res.contentType}}</td>
				<tr>
				</span>
				{% endfor %}
				{% for res in resource_code.mine %}
				<span id="ResI_Rows">
				<tr resID="{{res.resID}}" class="resourceTr">
					<td class="resourceTd">{{res.resID}}</td>
					<td class="resourceTd">{{res.caption}}</td>
					<td class="resourceTd">{{res.contentType}}</td>
				<tr>
				</span>
				{% endfor %}
			</table>
		</div>
		<br>
	</div>
	<br><br>

{% endblock %}