{% extends 'devBlag/base.html' %}

{% load staticfiles %}

{% block headerInsert %}

	<script type="text/javascript" src="{% static 'devBlag/js/jscolor/jscolor.js' %}"></script>

	<title>DevBlag - Add Post</title>

	<link rel="stylesheet" type="text/css" href="{% static 'devBlag/css/addPost.css' %}">

	<script type="text/javascript" src="{% static 'devBlag/js/addPost.js' %}"></script>


{% endblock %}


{% block container %}

	<br><br>
	<div class="addForm">
		<form action="/addPost/{{projectID}}/{{postID}}/" method="post">{% csrf_token %}
			<p>
	    		<label for="{{ form.title.id_for_label }}">Title:</label>
	    		{{ form.title }}
	    		{{ form.title.errors }}
	    	</p>
	    	<br>
	    	<div class="bodyBlock">
		    	<p><u><label for="{{ form.body.id_for_label }}">Body</label></u></p>
		    	<p>{{ form.body.errors }}</p>
		    	<p>{{ form.body }}</p>
		    	<div class="markupHints">
		    		<div class="markupHintsButton"><u><i class="fa fa-plus-square-o"></i>  Markup Hints</u></div>
		    		<div class="markupHintsText">
		    			<p>To add a link to your post, paste the url and surround it in brackets (). Alternatively supply a name first by putting that in square brakctes [] before the link</p>
		    			<p>For Example: [my link](http://www.example.com)</p>
		    			<br>
		    			<p>You can insert a resource (Image, Code snippet, or Download link) into your post by clicking the one you want in the table in the box below.</p>
		    			<p>Clicking this resource will add its tag to your post in the form &lt;&lt;i:198234512&gt;&gt;, and it will be inserted when displayed</p>
		    		</div>
		    	</div>
		    </div>
	    	<p>
	    		<label for="{{ form.backgroundColour.id_for_label }}">Background:</label>
	    		{{ form.backgroundColour }}
	    		<button id="updateCol">Update</button>
	    	</p>
	    	<p>{{ form.backgroundColour.errors }}</p>
	    	<p>
	    		<label for="{{ form.postTags.id_for_label }}">Tags (space separate):</label>
	    		{{ form.postTags }}
	    		{{ form.postTags.errors }}
	    	</p>

	    	<input type="submit" value="Submit" onchange="updateColour()"/>
	   	</form>
	</div>
	<br>
	<div class="resourceBox">
		<div id="currentResources">
			<h2>Resources</h2>

			<p>
				<input type="radio" name="resourceOwner" value="mine" checked="checked">Mine
				<input type="radio" name="resourceOwner" value="public">Public
			</p>

			<div class="resourceListOuter">
				<div class="tabContainer">
					<div class="resTab t1" id="imageButton">Image</div>
					<div class="resTab t2" id="codeButton">Code</div>
					<div class="resTab t3" id="downloadButton">Download</div>
				</div>
				<div class="resourceList">
					<table class="resourceTable">
						<tbody id="resTableBody">
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="addResource">
			{% include "devBlag/addResource.html" %}
		</div>
		<br>
	</div>
	<br><br>

{% endblock %}
