{% extends 'devBlag/base.html' %}

{% block headerInsert %}
	<style>
		.addForm
		{
			text-align: center
		}

		#{{form.body.id_for_label}}
		{
			width: 500px;
			resize: vertical;
		}
	</style>

{% endblock %}


{% block container %}

	<br><br>
	<div class="addForm">
		<form action="/addPost" method="post">
			<p>
		    	{{ form.title.errors }}
	    		<label for="{{ form.title.id_for_label }}">Title:</label>
	    		{{ form.title }}
	    	</p>
	    	<br>
	    	<p><u><label for="{{ form.body.id_for_label }}">Body</label></u></p>
	    	<p>{{ form.body.errors }}</p>
	    	<p>{{ form.body }}</p>
	    	<br>{{ form.body.id }}
	    	<p>
		    	{{ form.project.errors }}
	    		<label for="{{ form.project.id_for_label }}">Project:</label>
	    		{{ form.project }}
	    	</p>

	    	<input type="submit" value="Submit" />
	   	</form>
	</div>

{% endblock %}