{% extends 'devBlag/base.html' %}

{% load staticfiles %}

{% block headerInsert %}

	<style>
		.resourceContainer
		{
			width: 100%;
			background-color: #fdd;
			border: solid black 2px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			text-align: center;
		}
	</style>

	<script>
		$(function(){
			$("input[name=fileType]").change(updateFieldDisplay);
			$("input[name=fileType2]").change(updateFieldDisplay2);

			function updateFieldDisplay()
			{
				var type = $("input[name=fileType]:checked").val();
				if (type == "image")
				{
					$("#fileInp").show();
					$("#captInp").show();
					$("#langInp").hide();
					$("#codeInp").hide();
				} else if (type == "code") {
					$("#fileInp").hide();
					$("#captInp").show();
					$("#langInp").show();
					$("#codeInp").show();
				} else { //type==download
					$("#fileInp").show();
					$("#captInp").show();
					$("#langInp").hide();
					$("#codeInp").hide();
				}

			};

			function updateFieldDisplay2()
			{
				console.log("2");
				var type = $("input[name=fileType2]:checked").val();
				if (type == "image")
				{
					$("#imageForm").show();
					$("#codeForm").hide();
					$("#downloadForm").hide();
				} else if (type == "code") {
					$("#imageForm").hide();
					$("#codeForm").show();
					$("#downloadForm").hide();
				} else { //type==download
					$("#imageForm").hide();
					$("#codeForm").hide();
					$("#downloadForm").show();
				}

			};



			updateFieldDisplay();
			updateFieldDisplay2();
		});
	</script>
{% endblock %}


{% block container %}
	<br><br>
	<div class="resourceContainer">
		<!--
		<form enctype="multipart/form-data" action="/addResource/" method="post">{% csrf_token %}
			<p style="text-align: center;"><u>Resources</u></p>
			<br>
			<p>Type:
				<input type="radio" name="fileType" value="image" checked="checked">Image 
				<input type="radio" name="fileType" value="code">Code 
				<input type="radio" name="fileType" value="download">Download 
			</p>
			<p id="fileInp">File: <input type="file" name="file"></p>
			<p id="captInp">Caption: <textarea name="caption"></textarea></p>
			<p id="langInp">Language: <input type="text" name="language"></p>
			<p id="codeInp">Code: <textarea name="code"></textarea></p>
			<p><input type="submit" value="Add Resource"></p>
		</form> -->
		<br><br>
		<p>Type:
			<input type="radio" name="fileType2" value="image" checked="checked">Image 
			<input type="radio" name="fileType2" value="code">Code 
			<input type="radio" name="fileType2" value="download">Download 
		</p>
		<!-- Image form -->
		<form id="imageForm" enctype="multipart/form-data" action="/addResource/" method="post">{% csrf_token %}
			<input type="hidden" name="resType" value="image">
			<p style="text-align: center;"><u>Image</u></p>
			{{ imageForm.as_p }}
			<p><input type="submit" value="Add Resource"></p>
		</form>
		<!-- Code form -->
		<form id="codeForm" enctype="multipart/form-data" action="/addResource/" method="post">{% csrf_token %}
			<input type="hidden" name="resType" value="code">
			<p style="text-align: center;"><u>Image</u></p>
			{{ codeForm.as_p }}
			<p><input type="submit" value="Add Resource"></p>
		</form>
		<!-- Download form -->
		<form id="downloadForm" enctype="multipart/form-data" action="/addResource/" method="post">{% csrf_token %}
			<input type="hidden" name="resType" value="download">
			<p style="text-align: center;"><u>Image</u></p>
			{{ downloadForm.as_p }}
			<p><input type="submit" value="Add Resource"></p>
		</form>
	</div>
{% endblock %}