{% extends 'devBlag/base.html' %}

{% load staticfiles %}

{% block headerInsert %}

	<title>DevBlag - Developer Profile</title>

	<link href="stylesheet" type="text/css" href="{% static 'devBlag/css/developerProfile.css' %}">

	<script type="text/javascript" src="{% static 'devBlag/js/developerProfile.js' %}"></script>

	<!---
	<style>
		.noPost{
			text-align: center;
		}
	</style>
	-->
	<!--
	<script>
		$(function(){
			$('pre code').each(function(i, block) {
				hljs.highlightBlock(block);
			});
		})
	</script>
	-->
{% endblock %}


{% block container %}
	<br><br>
	<img class="profilePic" src="{{developer.thumbnail.getServingURLPath}}">
	<p><b>Name:</b> {{developer.user.first_name}} {{developer.user.last_name}}</p>
	<p><b>Date Joined:</b> {{developer.user.date_joined}}</p>
	<br><br><br><br><br>
	<p class="headerText">Recent Posts</p>
	{% if latestPosts|length > 0 %}
		{% for post in latestPosts %}
			<div class="post" style="background-color:#{{post.backgroundColour}}">
				<!--<p class="floatProjectLink"><a href="/project/{{ post.project.id }}/">P: {{post.project.title}}</a></p>-->
				<a href="/project/{{ post.project.id }}/"><img class="floatProjectImg" src="{{ post.project.image.getServingURLPath }}" width="40" height="40"></a>
				<h3>{{post.title}}</h3>
				{{post.body|safe|linebreaksbr}}
				<br>
			</div>
			<br>
		{% endfor %}
	{% else %}
		<p class="noPost">This developer has no posts</p>
	{% endif %}

{% endblock %}
