{% extends 'devBlag/base.html' %}

{% load staticfiles %}


{% block headerInsert %}

	<title>DevBlag - Home</title>

	<link rel="stylesheet" type="text/css" href="{% static 'devBlag/css/index.css' %}">

	<script type="text/javascript" src="{% static 'devBlag/js/index.js' %}"></script>


{% endblock %}


{% block container %}
	<br>
	<br>
	<p class="headerText">Projects</p>
	<br>
	{% for quadProj in projects %}
		<div class="linkWrapper">
			{% for proj in quadProj %}

				<div class="circleBlock circles{{quadProj|length}}">
					<a href="/project/{{ proj.id }}/">
						<div title="{{proj.title}}" inProgress="{{proj.inProgress}}" language="{{proj.language}}" engine="{{proj.engine}}"
						class="circleLink projLink" img-src="{{ proj.image.getServingURL }}"></div>
					</a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
	<br><br><br>
	<p class="headerText">Developers</p>
	<!--<table>-->
		{% for quadDevs in developers %}
		<!--<tr>-->
			{% for dev in quadDevs %}
				<div class="circleBlock circles{{quadDevs|length}}">
					<a href="/developer/{{dev.user.id}}/">
						<div title="{{dev.user.username}}" name="{{dev.getName}}" displayName="{{dev.displayName}}"
						class="circleLink devLink" img-src="{{ dev.thumbnail.getServingURL }}"></div>
					</a>
				</div>
			{% endfor %}
		<!--</tr>-->
		{% endfor %}
	<!--</table>-->
{% endblock %}
