{% extends 'devBlag/base.html' %}

{% load staticfiles %}

{% block headerInsert %}

	<title>DevBlag - Post: {{post.title}}</title>

	<style>


		.projectLinkBox
		{
			cursor: pointer;
			width: 80%;
			background-color: #ddd;
			min-height: 40px;
			border: solid black 1px;
			margin-left: auto;
			margin-right: auto;
			padding: 5px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
		}

		.projectLinkBox:hover
		{
			opacity: 0.8;
		}

	</style>


	<script>
		$(function(){

			$("#publishButton").click(function(){
				$.get(
					"/publishPost/",
					{"postID": $(this).attr("postID")},
					function(){
						window.location = "/project/{{post.project.id}}/";
					}
				)
			});



			$("#editPostButton").click(function(){
				var projectID = $(this).attr("projectID");
				var postID = $(this).attr("postID");
				window.location = "/addPost/" + projectID + "/" + postID + "/";
			});

			$("#deletePostButton").click(function(){
				var postID = $(this).attr("postID");
				var projectID = $(this).attr("projectID");
				var conf = confirm("Are you sure you wish to delete this post?")
				if (conf==true)
				{
					$.get(
					"/deletePost/",
					{"postID": postID},
					function(){
						window.location = "/project/" + projectID + "/";
					}
					)
				}
			});

			$("#publishButton").button({
				icons:{ primary: "ui-icon-check" }
			})

			$("#deleteButton").button({
				icons:{ primary: "ui-icon-trash" }
			})

			$(".projectLinkBox").click(function(){
				window.location = "/project/" + $(this).attr("projectID") + "/";
			})

		});
	</script>
{% endblock %}


{% block container %}
	<br><br>
	
	
	<div class="post {% cycle 'round7_tr_bl' 'round7_tl_br' %}"
			style="background-color:#{{post.backgroundColour}}">
		{% if isAuthor %}
			<i id="editPostButton" class="fa fa-pencil fa-lg hoverButton" projectID="{{post.project.id}}" postID="{{post.id}}"></i>
			<i id="deletePostButton" class="fa fa-times fa-lg hoverButton" projectID="{{post.project.id}}" postID="{{post.id}}"></i>
		{% endif %}
		<h3>{{post.title}}</h3>
		{{post.body|safe|linebreaksbr}}
		<br>
		<p>Created Date: {{post.createdDate}}</p>
		{% if post.publishedDate == none %}
			<!-- as per the view serving function, a non-author cannot see the unpublished post -->
			<p>
				<button style="font-size:0.8em;" id="publishButton" postID="{{post.id}}">Publish</button>
			</p>
		{% else %}
			<p>Published Date: {{post.publishedDate}}</p>
		{% endif %}
	</div>
	<br>
	<div class="projectLinkBox" projectID="{{post.project.id}}">
		<img class="floatProjectImg" src="{{ post.project.image.getServingURLPath }}" width="40" height="40">
		<h3>{{post.project.title}}</h3>
		<p>{{post.project.description}}</p>
	</div>


{% endblock %}