{% extends 'devBlag/base.html' %}

{% load staticfiles %}

{% block headerInsert %}

	<title>DevBlag - Post: {{post.title}}</title>

	<style>
		.button{
			height: 3em;
			width: 9em;
			font-size: 0.9em;
		}
	</style>


	<script>
		$(function(){

			$("#publishButton").click(function(){
				$.get(
					"/publishPost/",
					{"postID": $(this).attr("postID")},
					function(){
						window.location = "/project/{{post.project.id}}/";
					}
				)
			});

			$("#deleteButton").click(function(){
				$.get(
					"/deletePost/",
					{"postID": $(this).attr("postID")},
					function(){
						window.location = "/profile/";
					}
				)
			});


			$(".editButton").click(function(){
				window.location = "/addPost/{{post.project.id}}/{{post.id}}";
			});

			$("#publishButton").button({
				icons:{ primary: "ui-icon-check" }
			})

			$("#deleteButton").button({
				icons:{ primary: "ui-icon-trash" }
			})

		});
	</script>
{% endblock %}


{% block container %}
	<br><br>
	
	
	<div class="post {% cycle 'round7_tr_bl' 'round7_tl_br' %}"
			style="background-color:#{{post.backgroundColour}}">
		<i class="fa fa-pencil fa-lg editButton"></i>
		<h3>{{post.title}}</h3>
		{{post.body|safe|linebreaksbr}}
		<br>
		<p>Created Date: {{post.createdDate}}</p>
		{% if post.publishedDate == none %}
			<p>
				<button class="button" id="publishButton" postID="{{post.id}}">Publish</button>
				<button class="button" id="deleteButton" postID="{{post.id}}">Delete</button>
			</p>
		{% else %}
			<p>Published Date: {{post.publishedDate}}</p>
		{% endif %}
	</div>
	<br>


{% endblock %}