{% extends 'devBlag/base.html' %}

{% load staticfiles %}

{% block headerInsert %}
	<style>
		.userInfo
		{
			background-color: #eee;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			border: solid black 1px;
			width: 50%;
			text-align: center;
		}

		.editButton
		{
			cursor: pointer;
			opacity: 0.5;
		}
		.editButton:hover
		{
			opacity: 1;
		}

		.devSection
		{
			text-align: center;
		}

		.postHeader
		{
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
		}

		.postHeaderInner
		{
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;
			cursor: pointer;
		}

		.postHeaderInner:hover
		{
			opacity: 0.8;
		}

		p.postTitle
		{
			font-weight: bold;
		}

		p.postDate
		{
			color: #13
			1;
		}


		.horizLine
		{
			width: 100%;
			height: 5px;
			background-color: #eee;
		}

	</style>


	<script>
		$(function(){

			$AJAX_URL_EDIT = "/updateProfile/";

			$(".editbutton").click(function(){
				var state = $(this).attr("state");
				var parent = $(this).parent();
				var span = $("span", parent);

				if (state == "0") //Edit state
				{
					
					var original = span.attr("actualVal");
					$(this).switchClass("fa-pencil", "fa-check");
					span.empty();
					span.append("<input type='text' value='" + original + "'>");
					$(this).attr("state", "1");

				} else { //confirm state

					//get value, store that in "actualVal".
					//convert to blank message if blank when
					//displaying in span

					var newVal = $("input", span).val();
					var editButton = $(this);
					console.log(newVal);

					

					//AJAX
					$.get($AJAX_URL_EDIT, {"newName": newVal}, function(data){
						if (newVal == ""){
							var spanVal = "(blank - displays as full name)";
						} else {
							var spanVal = newVal;
						} 
						span.html(spanVal);
						span.attr("actualVal", newVal);
						editButton.switchClass("fa-check", "fa-pencil");
						editButton.attr("state", "0");
					});

					

				}
			})

			$(".postHeader").click(function(){
				window.location = "/post/" + $(this).attr("postID");
			})

		})
	</script>
{% endblock %}


{% block container %}
	<br><br>
	{% if isDeveloper %}<img class="profilePic" src="{% static developer.thumbnail.getServingURLPath %}">{% endif %}
	
	<div class="userInfo">
		<p>Name: <span>{{user.first_name}} {{user.last_name}}</span></p>
		<p>Email Address: <span>{{user.email}}</span></p>
		<p>Date Joined: {{user.date_joined}}</i></p>
	</div>

	{% if isDeveloper %}

		<p>You are a registered developer on this site</p>
		<p>See your <a href="/developer/{{developer.user.id}}/">developer page</a></p>
		<br>
		<p>Developer Display Name: <span actualVal="{{developer.displayName}}">
			{% if developer.displayName == "" %}(blank - displays as full name)
			{% else %} {{developer.displayName}}
			{% endif %}</span> <i class="fa fa-pencil editButton" state="0"></i></p>
		<br><br>

		<div class="horizLine"></div>

		<div class="devSection">
			{% if unpublishedPosts|length > 0 %}
				<h3>Your currently unpublished posts</h3>
				{% for post in unpublishedPosts %}
					<div class="postHeader" style="" postID={{post.id}}>
						<div class="postHeaderInner" style="background-color: {{post.backgroundColour}}">
							<p class="postTitle">{{post.title}}</p>
							<p class="postDate">{{post.createdDate}}</p>
						</div>
						<a href="/project/{{ post.project.id }}/"><img class="floatProjectImg" src="{{ post.project.image.getServingURLPath }}" width="40" height="40"></a>
					</div>
				{% endfor %}
			{% endif %}

			<h3>All your Resources</h3>
			<h4>Images</h4>
			{% for resource in Resource_image.mine %}
				<p>{{resource.caption}} {{resource.imageFile.url}}</p>
			{% endfor %}
			<h4>Code</h4>
			{% for resource in Resource_code.mine %}
				<p>{{resource.caption}}</p>
			{% endfor %}
			<h4>Downloads</h4>
			{% for resource in Resource_download.mine %}
				<p>{{resource.caption}} {{resource.resFile.url}}</p>
			{% endfor %}
			<br>
			{% include "devBlag/addResource.html" %}
		</div>
	{% else %}
		<p><a href="/devApply/">Apply to post as a developer on this site</a><p>
	{% endif %}


{% endblock %}