{% extends 'devBlag/base.html' %}

{% load staticfiles %}

{% block headerInsert %}

	<title>DevBlag - Profile</title>



	<link rel="stylesheet" type="text/css" href="{% static 'devBlag/css/profile.css' %}">

	<script type="text/javascript" src="{% static 'devBlag/js/profile.js' %}"></script>


{% endblock %}


{% block container %}
	<br><br>
	{% if isDeveloper %}<img class="profilePic" src="{% static developer.thumbnail.getServingURL %}">{% endif %}

	<div class="userInfo">
		<p>First Name: <span id="firstName" actualVal="{{user.first_name}}" blankVal="(blank)" method="updateFirstName" route="updateProfile">
		{% if user.first_name == "" %}(blank){% else %}{{user.first_name}}{% endif %}</span>
		<i class="fa fa-pencil editButton" id="editFirstName" state="0"></i></p>

		<p>Last Name: <span id="lastName" actualVal="{{user.last_name}}"  blankVal="(blank)" method="updateLastName" route="updateProfile">
		{% if user.last_name == "" %}(blank){% else %}{{user.last_name}}{% endif %}</span>
		<i class="fa fa-pencil editButton" id="editLastName" state="0"></i></p></p>

		<p>Email Address: <span>{{user.email}}</span></p>
		<p>Date Joined: {{user.date_joined}}</i></p>
	</div>

	{% if isDeveloper %}

		<p>You are a registered developer on this site</p>
		<p>See your <a href="/developer/{{developer.user.id}}/">developer page</a></p>
		<br>
		<p>Developer Display Name: <span actualVal="{{developer.displayName}}" blankVal="(blank - displays as full name)"  method="updateDisplayName" route="updateProfile">
			{% if developer.displayName == "" %}(blank - displays as full name)
			{% else %} {{developer.displayName}}
			{% endif %}</span> <i class="fa fa-pencil editButton editButton-override" state="0" ></i></p>
		<br><br>

		<div class="horizLine"></div>

		<div class="devSection">
			<h3>Your Projects</h3>
			{% if createdProjects|length > 0 %}
				<table class="infoTable">
					{% for project in createdProjects %}
						<tr class="infoBox" projectID="{{project.id}}">
							<td class="infoTextBox">
								{{project.title}}
							</td>
							<td class="infoViewBox projectView">
								<i class="fa fa-eye"></i>
							</td>
							<td class="infoDeleteBox projectDelete">
								<i class="fa fa-trash"></i>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>You arent the creator of any projects</p>
			{% endif %}
				<p><a href="/createProject/new/"><button id="newProjectButton" postID="{{post.id}}">New Project</button></a></p>
			{% if unpublishedPosts|length > 0 %}
				<br>
				<h3>Your Currently Unpublished Posts</h3>
				{% for post in unpublishedPosts %}
					<div class="postHeader"postID={{post.id}} background-color="{{post.backgroundColour}}">
						<p class="postTitle">{{post.title}}</p>
						<p class="postDate">{{post.createdDate}}</p>
						<!--<a href="/project/{{ post.project.id }}/"><img class="floatProjectImg" src="{{ post.project.image.getServingURL }}" width="40" height="40" style="top: 0;"></a>-->
					</div>
				{% endfor %}
			{% endif %}
			<br>
			<h3>Your Resources</h3>
			<div id="dialog" title=""></div>
			<h4>Images</h4>
			{% if Resource_image.mine|length > 0 %}
				<table class="infoTable"  id="resTable_image">
					{% for resource in Resource_image.mine %}
						<tr class="infoBox" resourceID="{{resource.id}}" resourceType="i">
							<td class="infoTextBox">
								{{resource.caption}}
							</td>
							<td class="infoViewBox" url="{{resource.getServingURL}}" caption="{{resource.caption}}" type="Image">
								<i class="fa fa-eye"></i>
							</td>
							<td class="infoDeleteBox resDeleteBox">
								<i class="fa fa-trash"></i>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>You do not have any images</p>
			{% endif %}
			<h4>Code</h4>
			{% if Resource_code.mine|length > 0 %}
				<table class="infoTable">
					{% for resource in Resource_code.mine %}
						<tr class="infoBox" resourceID="{{resource.id}}" resourceType="c">
							<td class="infoTextBox">
								{{resource.caption}}
							</td>
							<td class="infoViewBox" code="{{resource.code}}" caption="{{resource.caption}}" type="Code">
								<i class="fa fa-eye"></i>
							</td>
							<td class="infoDeleteBox resDeleteBox">
								<i class="fa fa-trash"></i>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>You do not have any code snippets</p>
			{% endif %}
			<h4>Downloads</h4>
			{% if Resource_download.mine|length > 0 %}
				<table class="infoTable">
					{% for resource in Resource_download.mine %}
						<tr class="infoBox" resourceID="{{resource.id}}" resourceType="d">
							<td class="infoTextBox">
								{{resource.caption}}
							</td>
							<td class="infoViewBox" url="{{resource.getServingURL}}" caption="{{resource.caption}}" filename="{{resource.filename}}" type="Download">
								<i class="fa fa-eye" ></i>
							</td>
							<td class="infoDeleteBox resDeleteBox">
								<i class="fa fa-trash"></i>
							</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>You do not have any downloads</p>
			{% endif %}
			<br>
			{% include "devBlag/addResource.html" %}
			<br>
			<br>
		</div>
	{% else %}
		<p><a href="/devApply/">Apply to post as a developer on this site</a><p>
	{% endif %}


{% endblock %}
