{% extends 'devBlag/base.html' %}

{% load staticfiles %}

{% block headerInsert %}

	<title>DevBlag - Project {{project.title}}</title>

	<link rel="stylesheet" type="text/css" href="{% static 'devBlag/css/projectPosts.css' %}">

	<script type="text/javascript" src="{% static 'devBlag/js/projectPosts.js' %}"></script>


{% endblock %}


<!--
	Project:
	title
	description
	image
	dateStarted
	inProgress
	language
	engine
-->

{% block preContainer %}
	<br>
	<div class="projectInfoBox">
		<!--
		{% if isDeveloper%}<a class="blankLink" href="/addPost/{{project.id}}/new/"><div class="projectAddPostButton">+</div></a>{% endif %}
		-->
		{% if isDeveloper%}
			{% if isCreator%}
			<a class="blankLink" href="/createProject/{{project.id}}/"><i class="editOrAdd fa fa-2x fa-pencil"></i></a>
			{% endif %}
		<a class="blankLink" href="/addPost/{{project.id}}/new/"><i class="editOrAdd fa fa-2x fa-plus"></i></a>
		{% endif %}
		<img class="projectImage" src="{{project.image.getServingURLPath}}">

		<h2 class="projectTitle">{{project.title}}</h2>
		<div class="projectInfoInner">
			{{project.description}}
			<br>
			<p>Date Started: </p>
			{% if project.engine != "" %}<p>Engine: {{project.engine}}</p>{% endif %}
			{% if project.language != "" %}<p>Language: {{project.language}}</p>{% endif %}
			<p>{% if project.inProgress %}This project is in active development{% else %}This project has been completed{% endif %}</p>
		</div>
	</div>
	<div class="filterBar" projectID="{{project.id}}">
		<div class="fBarRight">
			<p>Order By:
			<select id="orderCriterion" name"orderCriterion">
				<option value="publishedDate">Published Date</option>
				<option value="createdDate">Created Date</option>
			</select>
			<i class="fa fa-caret-down fa-lg" id="sortDirectionButton" state="of"></i></p>
		</div>
		<div class="fBarLeft">
			Filter by tags: <input id="tagFilterInput" type="text"></input><button id="filterButton">filter</button>
		</div>
	</div>
{% endblock %}
{% block container %}
	<br>
	<span id="postContainer">
	{% for post in posts %}
		<div class="post {% cycle 'round7_tr_bl' 'round7_tl_br' %}"
			style="background-color:#{{post.backgroundColour}}">
			<div class="postControlButton" postID="{{post.id}}">
				<i class="fa fa-eye postViewButton"></i></i>
			</div>
			<h3>{{post.title}}</h3>
			{{post.body|safe|linebreaksbr}}
			<br>
			<div class="postInfoBar">
				<div class="postInfoDates">
					<!--<p>Created: {{post.createdDate}}</p>-->
					<p>Published: {{post.publishedDate}}</p>
				</div>
				<div class="postInfoTags">
					{{post.getTags}}
				</div>
			</div>
		</div>
		<br>
	{% endfor %}
	</span>


{% endblock %}
