{% extends 'devBlag/base.html' %}

{% block headerInsert %}
	<style>
		.projectInfoBox
		{
			border: solid black 1px;
			border-radius: 4px;
			padding: 5px;
			background-color: #ddd;
			min-height: 170px; /* height of image + add button + 10 */
			position: relative;
			/*overflow: hidden;*/
		}
		.projectTitle
		{
			font-family: juice;
			text-align: center;
		}
		.projectImage
		{
			float: right;
			border: solid black 1px;
			border-radius: 5px;
			height: 80px;
			width: 80px;
		}
		.projectAddPostButton /*on top of projectImage */
		{
			background-color: #efefff;
			text-align: center;
			vertical-align: center;
			position: absolute;
			bottom: 5px;
			right: 5px;
			line-height: 80px;
			background: -webkit-linear-gradient(top, #99A7BA, #8E9CAD);
			background: -moz-linear-gradient(top, #99A7BA, #8E9CAD);
			background: -o-linear-gradient(top, #99A7BA, #8E9CAD);
			background: -ms-linear-gradient(top, #99A7BA, #8E9CAD);
			background: linear-gradient(top, #99A7BA, #8E9CAD);
			cursor: pointer;
		}
		.projectAddPostButton:hover
		{
			background: -webkit-linear-gradient(top, #9EACBF, #93A1B2);
			background: -moz-linear-gradient(top, #9EACBF, #93A1B2);
			background: -o-linear-gradient(top, #9EACBF, #93A1B2);
			background: -ms-linear-gradient(top, #9EACBF, #93A1B2);
			background: linear-gradient(top, #9EACBF, #93A1B2);
		}
		.projectInfoInner
		{
			padding-left: 10px;

		}
		.addPostButton
		{
			border-radius: 5px;
			
		}
	</style>

	<script>
		$(function(){
			$('pre code').each(function(i, block) {
				hljs.highlightBlock(block);
			});
		})
	</script>
{% endblock %}


<!--
	Project:
	title
	description
	image
	dateStarted
	inProgress
	language
	engine
-->

{% block container %}
	<br><br>
	<div class="projectInfoBox">
		<div class="projectImage projectAddPostButton">+</div>
		<img class="projectImage" src="{{project.image.getServingURLPath}}">
		
		<h2 class="projectTitle">{{project.title}}</h2>
		<div class="projectInfoInner">
			{{project.description}}
			<br>
			<p>Date Started: </p>
			{% if project.engine != "" %}<p>Engine: {{project.engine}}</p>{% endif %}
			{% if project.language != "" %}<p>Language: {{project.language}}</p>{% endif %}
			<p>{% if project.inProgress %}This project is in active development{% else %}This project has been completed{% endif %}</p>
		</div>
	</div>

	<br>
	{% for post in posts %}
		<div class="post" style="background-color:#{{post.backgroundColour}}">
			<h3>{{post.title}}</h3>
			{{post.body|safe|linebreaksbr}}
			<br>
		</div>
		<br>
	{% endfor %}

{% endblock %}