

/* Fonts! */
@font-face {
	font-family: juice;
	src: url("../../static/devBlag//fonts/juice/JUICE_Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: juice;
	src: url("../../static/devBlag//fonts/juice/JUICE_Bold.ttf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: juice;
	src: url("../../static/devBlag//fonts/juice/JUICE_Bold_Italic.ttf");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: juice;
	src: url("../../static/devBlag//fonts/juice/JUICE_Light.ttf");
	font-weight: 500;
	font-size: normal;
}
@font-face {
	font-family: juice;
	src: url("../../static/devBlag//fonts/juice/JUICE_Light_Italic.ttf");
	font-weight: 500;
	font-size: italic;
}
@font-face {
	font-family: juice;
	src: url("../../static/devBlag//fonts/juice/JUICE_Italic.ttf");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: roboto;
	src: url("../../static/devBlag//fonts/roboto/Roboto-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: roboto;
	src: url("../../static/devBlag//fonts/roboto/Roboto-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: roboto;
	src: url("../../static/devBlag//fonts/roboto/Roboto-Italic.ttf");
	font-weight: normal;
	font-style: italic;
}

.menuButton
{
	display: inline-block;
	padding: 12px;
	margin: 0px 20px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: right;
	text-align: center;
	border: solid black 1px;
	background-color: #ccc;
	cursor: pointer;
	color: #000;
	font-family: juice;
	font-weight: bold;
	/*font-size: 1.2em;*/
	/*opacity: 0.5;*/
}
.menuButton:hover
{
	background-color: #bbb;
}

.userText
{
	color: #fff;
	float:right;
	margin-right: 20px;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	font-family: roboto;
}
h2 {
	color: #f00;
}
body{
	margin: 0px;
}


/*
	code block for code resource
*/
code {
	margin-left: 6px;
	margin-right: 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/*
	Centred container to main body
*/

.container
{
	height: 538px;
	left: 50%;
	/*margin: -400px 0 0 -400px;*/
	margin: 0px 0 0 -400px;
	position: absolute;
	/*top: 50%;*/
	width: 800px;
	/*
	-webkit-transform: scale(1.25);
  	-moz-transform: scale(1.25);
 	-ms-transform: scale(1.25);
  	-o-transform: scale(1.25);
  	transform: scale(1.25);
  	*/
}



/*
	Title banner
*/

.banner
{
	background-color: #9a0000;
	width: 100%;
	height: 70px;
	/*text-align: center;*/
	overflow: hidden;
}

.titleText
{
	color: #fff;
	font-size: 2em;
	padding: 15px 0;
	display: inline-block;
	position: absolute;
	left: 20%;
	font-family: juice;
}

.blankLink
{
	text-decoration: none;
}
.blankLink:hover
{

}

.headerText
{
	text-align: center;
	font-size: 1.5em;
	font-family: juice
}

/*
.floatingLogInOut
{
	float: right;
	padding-top: 5px;
	padding-right: 5px;
}
*/

.profilePic
{
	float: right;
	border-radius: 10px;
	border: solid 1px black;
}

.post
{
	border: solid black 1px;
	padding: 5px;
}

.round7_tl_br
{
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.round7_tr_bl
{
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

.editButton
{
	float: right;
	opacity: 0.5;
	margin-right: 6px;
	margin-top: 6px;
	cursor: pointer;
}
.editButton:hover
{
	opacity: 1;
}

.projectAddPostButton
{
	float: right;
	border: solid black 1px;
	border-radius: 5px;
	height: 80px;
	width: 80px;
	background-color: #efefff;
	text-align: center;
	vertical-align: center;
	position: absolute;
	bottom: 5px;
	right: 5px;
	line-height: 80px;
	background: -webkit-linear-gradient(top, #99A7BA, #8E9CAD);
	background: -moz-linear-gradient(top, #99A7BA, #8E9CAD);
	background: -o-linear-gradient(top, #99A7BA, #8E9CAD);
	background: -ms-linear-gradient(top, #99A7BA, #8E9CAD);
	background: linear-gradient(top, #99A7BA, #8E9CAD);
	cursor: pointer;
}
.projectAddPostButton:hover
{
	background: -webkit-linear-gradient(top, #9EACBF, #93A1B2);
	background: -moz-linear-gradient(top, #9EACBF, #93A1B2);
	background: -o-linear-gradient(top, #9EACBF, #93A1B2);
	background: -ms-linear-gradient(top, #9EACBF, #93A1B2);
	background: linear-gradient(top, #9EACBF, #93A1B2);
}


.floatProjectImg
{
	float:right;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.hoverButton
{
	float: right;
	opacity: 0.5;
	margin-right: 6px;
	margin-top: 6px;
	cursor: pointer;
}
.hoverButton:hover
{
	opacity: 1;
}
