.projectLinkBox
{
    cursor: pointer;
    width: 80%;
    background-color: #ddd;
    min-height: 40px;
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.projectLinkBox:hover
{
    opacity: 0.8;
}
